:root{
    --h1-h:#D3D3D3;
    --h2-h:#DCDCDC;
    -title-h1:#ADD8E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: url(/img/v1016-b-08.jpg);

    font-size: 16px;
    font-family: Poppins;

    color: white;

    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;

    background-image: url(/img/background-header-prot.jpg);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header .h-port-name{
    font-size: 6em;
    font-weight: 700;
    background: linear-gradient(to left, #00f776, #168756);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .h-port-dev, .h-port-desc{
    font-size: 1.5em;
}

header i{
    margin-left: 10px;
    font-size: 4em;
    transition: 0.5s ease-in-out;
}


header i:hover{
    color: rgb(255, 255, 255);
}

header .fa-css3-alt{
    color: rgb(0, 87, 194);
}

header .fa-html5{
    color: rgb(234, 207, 1);
}

header .fa-node-js{
    color: #00870e;
}

header .fa-c{
    color: #007efb;
}




main{
    width: 100%;
    height: 200vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .section-description{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

}

main .m-port-div-desc{
    width: 50%;
    text-align: center;
}

main .m-port-div-desc .m-port-desc{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2em;
}

main .m-port-div-desc .p-desc{
    padding: 10px;
    text-align: left;
    font-size: 1.1em;

}

main .m-port-div-desc .div-skills{
    font-size: 1.2em;
}

main .div-skills{
    margin: 10px auto;
    width: 90%;
}

main table{

    color: white;
    border: 1px solid white;
}

main .m-port-div-video{
    width: 50%;
}

main video{
    margin-top: 100px;
}

main .section-codigos{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .m-div-cod{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .btn-main{
    width: 30px;
    height: 30px;

    background-color: 	#A9A9A9;
    animation: btnMainF 2s linear infinite;
    border: none;
    border-radius: 30px;

}

footer{
    width: 100%;
    height: 40vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div{
    width: 35%;
}

footer div .div-icons{
    width: 100%;
}


footer .f-port-social i{
    margin-left: 4%;
    font-size: 2.5em;

    transition: 0.3s ease-in-out;
}

.f-port-social .fa-whatsapp{
    color: #00870e;
}

.f-port-social .fa-linkedin-in{
    color: #007efb;
}

.f-port-social .fa-github{
    color: #DCDCDC;
}

.f-port-social i:hover{
  transform: translateY(10px);
}


/* KEYFRAMES */

@keyframes btnMainF{
    0%{
        box-shadow: 1px 1px 1px 1px #A9A9A9;
    }
    50%{
        box-shadow: 1px 1px 50px 30px #a9a9a97b;
    }
    100%{
        box-shadow: 1px 1px 100px 1px #a9a9a930;
    }
}